<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.commerce.demo.board.dao.BoardDao">

<!-- 	<select id="selectAll" resultType="com.ssafy.commerce.demo.board.dto.Board">
		SELECT * FROM Board;
	</select>
	
	<select id="search" parameterType="com.ssafy.commerce.demo.board.dto.SearchCondition" resultType="com.ssafy.commerce.demo.board.dto.Board">
		SELECT * FROM Board
		<if test="key != 'none'">
		    WHERE ${key} LIKE concat('%', #{word}, '%')
		</if>
		<if test="orderBy != 'none'">
		    ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>
	
	<select id="selectOne" parameterType="int" resultType="com.ssafy.commerce.demo.board.dto.Board">
		SELECT * FROM Board
		WHERE id = #{id};
	</select> -->

	<select id="selectAll" resultType="com.ssafy.commerce.demo.board.dto.BoardWithUserProfile">
	    SELECT 
	        b.id, 
	        b.user_id, 
	        b.user_name, 
	        b.title, 
	        b.content, 
	        b.view_cnt, 
	        b.created_at, 
	        u.file_path AS userFilePath
	    FROM Board b
	    JOIN User u ON b.user_id = u.id;
	</select>
	
	<select id="search" parameterType="com.ssafy.commerce.demo.board.dto.SearchCondition" resultType="com.ssafy.commerce.demo.board.dto.BoardWithUserProfile">
	    SELECT 
	        b.id, 
	        b.user_id, 
	        b.user_name, 
	        b.title, 
	        b.content, 
	        b.view_cnt, 
	        b.created_at, 
	        u.file_path AS userFilePath
	    FROM Board b
	    JOIN User u ON b.user_id = u.id
	    <if test="key != 'none'">
	        WHERE ${key} LIKE concat('%', #{word}, '%')
	    </if>
	    <if test="orderBy != 'none'">
	        ORDER BY ${orderBy} ${orderByDir}
	    </if>
	</select>
	
	<select id="selectOne" parameterType="int" resultType="com.ssafy.commerce.demo.board.dto.BoardWithUserProfile">
	    SELECT 
	        b.id, 
	        b.user_id, 
	        b.user_name, 
	        b.title, 
	        b.content, 
	        b.view_cnt, 
	        b.created_at, 
	        u.file_path AS userFilePath
	    FROM Board b
	    JOIN User u ON b.user_id = u.id
	    WHERE b.id = #{id};
	</select>

	<update id="updateViewCnt" parameterType="int">
		UPDATE Board
		SET view_cnt = view_cnt + 1
		WHERE id = #{id};
	</update>

	<insert id="insertBoard" parameterType="com.ssafy.commerce.demo.board.dto.Board" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Board (user_id, user_name, title, content)
		VALUES (#{userId}, #{userName}, #{title}, #{content});
	</insert>

	<update id="updateBoard" parameterType="com.ssafy.commerce.demo.board.dto.Board">
		UPDATE Board
		SET title = #{title}, content = #{content}
		WHERE id = #{id};
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM Board
		WHERE id = #{id};
	</delete>

</mapper>