<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.commerce.demo.cloth.dao.ClothDao">
	
	
	<select id="selectImageByTemperature" resultType="com.ssafy.commerce.demo.s3.entity.ClothImage" parameterType="double">
		SELECT * FROM clothImage
		<![CDATA[WHERE min_tmp <= #{temperature}
		AND max_tmp >= #{temperature}
		]]>
	</select>
</mapper>