<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.commerce.demo.comment.dao.CommentDao">

	<select id="selectAll" parameterType="int" resultType="com.ssafy.commerce.demo.comment.dto.Comment">
		SELECT * FROM Comment
		WHERE board_id = #{boardId};
	</select>
	
	<select id="selectOne" parameterType="int" resultType="com.ssafy.commerce.demo.comment.dto.Comment">
		SELECT * FROM Comment
		WHERE id = #{id};
	</select>
	
	<insert id="insertComment" parameterType="com.ssafy.commerce.demo.comment.dto.Comment" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO Comment (user_id, user_name, board_id, content)
		VALUES (#{userId}, #{userName}, #{boardId}, #{content});
	</insert>
	
	<update id="updateComment" parameterType="com.ssafy.commerce.demo.comment.dto.Comment">
		UPDATE Comment
		SET content = #{content}
		WHERE id = #{id};
	</update>
	
	<delete id="deleteComment" parameterType="int">
		DELETE FROM Comment
		WHERE id = #{id};
	</delete>

</mapper>