<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.commerce.demo.file.dao.ImageFileDao">

	<select id="selectAll" parameterType="int" resultType="com.ssafy.commerce.demo.file.dto.ImageFile">
		SELECT * FROM ImageFile
		WHERE board_id = #{boardId};
	</select>

	<select id="selectThumb" parameterType="int" resultType="com.ssafy.commerce.demo.file.dto.ImageFile">
		SELECT * FROM ImageFile
		WHERE board_id = #{boardId}
		LIMIT 1;
	</select>
	
	<select id="selectOne" parameterType="int" resultType="com.ssafy.commerce.demo.file.dto.ImageFile">
		SELECT * FROM ImageFile
		WHERE id = #{id};
	</select>
	
	<insert id="insertFile" parameterType="com.ssafy.commerce.demo.file.dto.ImageFile" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO ImageFile (user_id, board_id, file_id, file_name, file_path)
		VALUES (#{userId}, #{boardId}, #{fileId}, #{fileName}, #{filePath});
	</insert>
	
	<delete id="deleteFile" parameterType="int">
		DELETE FROM ImageFile
		WHERE id = #{id};
	</delete>

</mapper>