<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.commerce.demo.user.dao.UserDao">

	<select id="selectAll" resultType="com.ssafy.commerce.demo.user.dto.User">
		SELECT * FROM User;
	</select>
	
	<select id="selectOne" parameterType="String" resultType="com.ssafy.commerce.demo.user.dto.User">
		SELECT * FROM User
		WHERE account_id = #{accountId};
	</select>
	
	<insert id="insertUser" parameterType="com.ssafy.commerce.demo.user.dto.User" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO User (account_id, password, nickname, birth_date, zodiac_sign)
		VALUES (#{accountId}, #{password}, #{nickname}, #{birthDate}, #{zodiacSign});
	</insert>
	
	<update id="updateUser" parameterType="com.ssafy.commerce.demo.user.dto.User">
		UPDATE User
		SET password = #{password}, nickname = #{nickname}, birth_date = #{birthDate}, zodiac_sign = #{zodiacSign}
		WHERE id = #{id};
	</update>
	
	<select id="validateUser" parameterType="com.ssafy.commerce.demo.user.dto.LoginRequest" resultType="com.ssafy.commerce.demo.user.dto.User">
		SELECT * FROM User
		WHERE account_id = #{accountId} AND password = #{password};
	</select>
	
	<select id="getPasswordHintByNickname" parameterType="com.ssafy.commerce.demo.user.dto.PasswordFinder" resultType="String">
		SELECT password FROM User
		WHERE account_id = #{accountId} AND nickname = #{nickname};
	</select>

</mapper>